@model OrchardCore.ContentFields.ViewModels.EditDateTimeFieldViewModel
@using OrchardCore.ContentFields.Extensions;
@using OrchardCore.ContentFields.Settings;
@using OrchardCore.ContentManagement.Metadata.Models

@{
    var settings = Model.PartFieldDefinition.Settings.ToObject<DateTimeFieldSettings>();
    var min = (settings.Minimum.HasValue ? settings.Minimum.Value : DateTime.MinValue).ToHtmlValueString(settings);
    var max = (settings.Maximum.HasValue ? settings.Maximum.Value : DateTime.MaxValue).ToHtmlValueString(settings);
}

<fieldset class="form-group">
    <div class="row col-sm">
        <label asp-for="Value">@Model.PartFieldDefinition.DisplayName()</label>
        <input asp-for="Value" type="@(settings.WithTime ? "datetime-local" : "date")" min="@min" max="@max" class="form-control content-preview-select" required="@settings.Required" />
        <span class="hint">@settings.Hint</span>
    </div>
</fieldset>
